/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

.infobar {
    display: flex;
    justify-content: start;
    text-align: center;
}

.infobar .icone-infobar {
    display: inline-block;
    border: 1px solid;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 2px;
    margin-top: 13px;
    margin-right: 5px;
    color: rgb(169, 170, 169);
}

.icone-infobar i {
    width: px;
    height: 15px;
}


.filtre button {
    background : none;
    border-radius: 25px;
    border: 1px solid;
    border-color: #e2e1e1;
    width: 173px;
    height: 50px;
    gap: 10px;
    font-size: 17px;
    font-weight: 700;
}



.formulaire button {
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    width: 132px;
    height: 49px;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
}
.formulaire input {
    display: inline-block;
    vertical-align: top;
    height: 49px;
    outline: none;
    border: 1px solid #F2F2F2;

}

.formulaire-icon{
    display: inline-block;
    padding-top: 15px;
    vertical-align: top;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 1px;
    text-align: center;
}

.formulaire-icon i {
    color: black;
}

.formulaire input::placeholder {
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    border: none;
}

form {
    margin-bottom: 25px;
}

.filtre button:hover {
    background-color: #deebff;
}

header {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 79px;
} 

header .logo {
    width: 161.09px;
    height: 79px;
    padding-top: 30px;
}

header .logo img {
    width: 61.09px;
    height: 19px;
}

header .navigation {
    width: 344px;
    height: 35px;
    padding-left: 50px;
    display: flex;
    gap: 30px;
}

header a:hover {
    border-top: 1px solid;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #0065FC;
}



.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
} 

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}



/****** Hebergements ***********/
.hebergements {
    width: 65%;
    padding:15px;
    border-radius:20px;
}

.hebergements-lieux {
    display:flex;
    flex-wrap:wrap;
    padding-right: 30px;
    margin-top: 15px;
    gap:20px;
}

.hebergements-lieux .card {
    width: calc( (100% / 3) - (40px / 3));
    height: 245px;
    background:#ffffff;
    border-radius:20px;
    padding: 0px 0px 15px 0px;
    margin-bottom: 15px;
}

.hebergements-lieux .card-content {
    padding-left: 15px;
}

.hebergements-lieux img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px;
    padding: 5px 5px 5px 5px;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Marseille ***********/

.activite-a-marseille {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    margin-bottom: 60px;
}

/* activités a marseille */

.activite-marseille {
    width: 100%;
    display: flex;
    gap: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.activite-title {
    width: 100%;
    padding-bottom: 30px;
    padding-left: 10px;
}

.card-activities {
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    width: calc( (100% / 4) - (90px / 4));
}
.card-activities img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-activities .card-title {
    display: flex;
    padding-left: 19px;
    gap: 10px;
}

footer {
    background-color: #F2F2F2;
    width: 100%;
    height: 163px;
}
.informations { 
    display: flex;
    padding: 2px;
    gap: 15px;
}

.informations .A-propos {
    width: 100%;
    height: 163px;
}

.informations .hebergements-info {
    width: 100%;
    height: 163px;
}

.informations .Assistance {
    width: 100%;
    height: 163px;
}

ul {
    text-align: left;
}

ul li {
    list-style-type: none;
    gap: 15px;
    padding: 5px;
}